.header-socials {
  display: table-cell;
  vertical-align: middle;
}

.header-socials ul {
  margin-bottom: 0;
}

.header-socials li {
  display: inline-block;
  font-size: 24px;
}

.navbar-wrapper {
  padding: 15px;
}

.navbar.fixed {
  background: #fff;
}

header .navbar-header .navbar-brand img {
  max-width: 200px;
  margin-bottom: -10px;
  margin-top: 8px;
}
